<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="rviz" default="true" />

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch" >
        <arg name="x" value="$(optenv START_X 0.0)" />
        <arg name="y" value="$(optenv START_Y 0.0)" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="$(optenv START_YAW 0.0)" />
    </include>

    <!-- Launch the world -->
    <include file="$(find aws_robomaker_small_warehouse_world)/launch/no_roof_small_warehouse.launch" >
        <arg name="gui" default="$(arg gui)" />
    </include>

    <!-- Run the map server -->
    <arg name="map_file" default="$(find aws_robomaker_small_warehouse_world)/maps/005/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL -->
    <include file="$(find robot_fleet)/launch/include/amcl.launch"/>

    <!--- Run Move Base -->
    <include file="$(find robot_fleet)/launch/include/move_base.launch" />

    <!--- Run Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_fleet)/rviz/basic_data.rviz" if="$(arg rviz)"/>
    
    <!--- Run ros-rtsp node after pulling in the package and dependencies at https://github.com/CircusMonkey/ros_rtsp -->
    <include file="$(find ros_rtsp)/launch/rtsp_streams.launch" />

</launch>
