<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false" />
    <param name="ROBOT_NAME" value="$(env ROBOT_NAME)"/>
    <param name="ROBOT_SDF_FILE" value="$(find robot_fleet)/static_models_w_plugin/husky/model.sdf"/>
    
    <arg name="ROSBRIDGE_STATE" value="$(env ROSBRIDGE_STATE)" />
    <param name="ROSBRIDGE_STATE" value="$(env ROSBRIDGE_STATE)"/>
    <param name="ROSBRIDGE_IP" value="$(env ROSBRIDGE_IP)" />

    <param name="use_custom_move_object_gazebo_plugin" value="$(optenv USE_CUSTOM_MOVE_OBJECT_GAZEBO_PLUGIN false)" />

    <group if="$(eval ROSBRIDGE_STATE=='SERVER')" >
        <param name="ROSBRIDGE_IP" value="localhost"/>
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    </group>
    
    <!-- Launch robot_fleet specific nodes -->
    <node name="gazebo_model_mover" pkg="robot_fleet" type="gazebo_model_mover.py" />
    <node name="client_rosbridge" pkg="robot_fleet" type="client_rosbridge.py" />

    <include file="$(find husky_gazebo)/launch/spawn_husky.launch" >
        <arg name="x" value="$(env START_X)" />
        <arg name="y" value="$(env START_Y)" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="$(env START_YAW)" />
    </include>

    <!-- Launch the world -->
    <include file="$(find aws_robomaker_small_warehouse_world)/launch/no_roof_small_warehouse.launch" >
        <arg name="gui" default="$(arg gui)" />
    </include>

    <!-- Run the map server -->
    <arg name="map_file" default="$(find aws_robomaker_small_warehouse_world)/maps/005/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL -->
    <include file="$(find robot_fleet)/launch/include/amcl.launch"/>

    <!--- Run Move Base -->
    <include file="$(find robot_fleet)/launch/include/move_base.launch" />
</launch>
